<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="net.winklerweb.tabnine.ui.category"
            id="net.winklerweb.tabnine.ui.insertCompletion"
            name="Insert Tabnine Completion">
         <commandParameter
               id="index"
               name="index"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="net.winklerweb.tabnine.ui.category"
            id="net.winklerweb.tabnine.ui.toggleActivation"
            name="Toggle Tabnine Activation">
      </command>
      <category
            id="net.winklerweb.tabnine.ui.category"
            name="TabNine">
      </category>
      <command
            categoryId="net.winklerweb.tabnine.ui.category"
            id="net.winklerweb.tabnine.ui.openConfig"
            name="Open TabNine Configuration in the browser">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.winklerweb.tabnine.ui.handlers.InsertTabnineCompletionHandler"
            commandId="net.winklerweb.tabnine.ui.insertCompletion">
         <enabledWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="org.eclipse.ui.texteditor.ITextEditor">
               </instanceof>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="net.winklerweb.tabnine.ui.handlers.ToggleTabnineActivationHandler"
            commandId="net.winklerweb.tabnine.ui.toggleActivation">
         <enabledWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="org.eclipse.ui.texteditor.ITextEditor">
               </instanceof>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="net.winklerweb.tabnine.ui.handlers.OpenTabnineConfigHandler"
            commandId="net.winklerweb.tabnine.ui.openConfig">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.winklerweb.tabnine.ui.insertCompletion"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ENTER">
         <parameter
               id="index"
               value="0">
         </parameter>
      </key>
      <key
            commandId="net.winklerweb.tabnine.ui.insertCompletion"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+NUMPAD_1">
         <parameter
               id="index"
               value="1">
         </parameter>
      </key>
      <key
            commandId="net.winklerweb.tabnine.ui.insertCompletion"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+NUMPAD_2">
         <parameter
               id="index"
               value="2">
         </parameter>
      </key>
      <key
            commandId="net.winklerweb.tabnine.ui.insertCompletion"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+NUMPAD_3">
         <parameter
               id="index"
               value="3">
         </parameter>
      </key>
      <key
            commandId="net.winklerweb.tabnine.ui.insertCompletion"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+NUMPAD_4">
         <parameter
               id="index"
               value="4">
         </parameter>
      </key>
      <key
            commandId="net.winklerweb.tabnine.ui.insertCompletion"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+NUMPAD_5">
         <parameter
               id="index"
               value="5">
         </parameter>
      </key>
      <key
            commandId="net.winklerweb.tabnine.ui.insertCompletion"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+NUMPAD_6">
         <parameter
               id="index"
               value="6">
         </parameter>
      </key>
      <key
            commandId="net.winklerweb.tabnine.ui.toggleActivation"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+NUMPAD_0">
      </key>
      <key
            commandId="net.winklerweb.tabnine.ui.openConfig"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+NUMPAD_7">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.winklerweb.tabnine.ui.preferences.TabninePreferencePage"
            id="net.winklerweb.tabnine.ui"
            name="Tabnine Code Completion">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.winklerweb.tabnine.ui.preferences.PreferencesInitializer">
      </initializer>
   </extension>
 
</plugin>
